@media (max-width:1000px){
    .div-container{
        left: 75px;
    }
    .text-box{
        left: 111px;
    }
    .infos{
        justify-content: space-around;
    }
    .form-button{
        margin-left: 38%;
    }
    .little-box1{
        margin-left: 11px;
    }
    .top-box{
        flex-direction: column;
        align-items: center;
        text-align: -webkit-center;
    }
    .bottom-box{
        flex-direction: column-reverse;
        align-items: center;
        text-align: -webkit-center;
    }
}
@media (max-width:831px){
    .div-container{
        justify-content: space-between;
    }
    .navigation.newNavigation{
        display: block;
        background-color: rgb(117, 84, 45);
    }
    .navigation{
        display: none;
    }
    .login-button{
        margin: 0;
    }
    .burger-bar{
        display: block;
        margin: 0;
    }
}
@media (max-width:634px){
    .div-container{
        left: 60px;
    }
    .text-box{
        left: 64px;
    }
    .infos{
        row-gap: 50px;
    }
    .input-info [type="text"], [type="email"], [type="tel"]{
        width: 100%;
    }
    .form-button{
        margin-left: 30%;
    }
    .footer-div{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .little-box1, .little-box2, .little-box3, .little-box4{
        margin: 0;
    }
}
@media (min-width:320px) and (max-width:425px){
    .div-container{
        left: 30px;
    }
    .form-button{
        margin-left: 22%;
    }
    .copyright{
        margin-left: 27px;
    }
}