/* Header */
.main-logo{
    background-image: url(../images/logo.jpg);
    width: 100%;
    height: 754px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.div-container{
    display: flex;
    width: 80%;
    height: 70px;
    top: 40px;
    left: 201px;
    position: absolute;
    z-index: 2;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-item{
    width: 39.5rem;
    display: flex;
    justify-content: space-between;
}
.li-items{
    font-weight: 700;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}
.li-items:hover{
    color:  rgb(48, 167, 167);;
}
.login-button{
    color: white;
    background-color: #f84646;
    width: 4.375rem;
    height: 40px;
    margin: auto;
    padding: 13.5px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}
.login-button:hover{
    background-color: rgb(48, 167, 167);
}
.burger-bar{
    display: none;
    color: black;
    width: 50px;
    height: 50px;
    padding: 17px;
    margin:11px auto;
    border-radius: 50%;
}
.text-box{
    max-width: 41.563rem;
    min-height: 283px;
    top: 18.75rem;
    left: 200px;
    position: absolute;
    z-index: 2;
}
.tx-h{
    max-width: 41.563rem;
    min-height: 82px;
    font-weight: 800;
    font-size: 64px;
    font-family: 'Manrope', sans-serif;
}
.tx-p{
    max-width: 40.625rem;
    min-height: 99px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
    font-family: 'Manrope', sans-serif;
}
/* SECTION-1 */
.section1{
    max-width: 90rem;
    margin: 0 auto;
    padding-top: 100px;
}
.text-box2{
    max-width: 62.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txtt-h{
    max-width: 26.75rem;
    min-height: 56px;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 30px;
}
.txtt-p{
    max-width: 62.125rem;
    min-height: 109px;

    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 99px;
    font-family: 'Manrope', sans-serif;
}
.infos{
    max-width: 72.063rem;
    min-height: 508px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.child-div{
    width: 18.625rem;
    height: 215px;
}
.child-div img{
    margin-left: 111px;
}
.child-div h3{
    width: 284px;
    height: 31px;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
}
.child-div p{
    width: 298px;
    height: 84px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}
/* SECTION-2 */
/* FIRST-BOX */
.big-box{
    max-width: 74.813rem;
    min-height: 1080px;
    margin: 0 auto;
}
.big-box img{
    width: 100%;
}
.top-box{
    display: flex;
    flex-direction: row;
    gap: 80px;    
    margin-top: 130px;
}
.left-box{
    max-width: 38rem;
    min-height: 480px;
    border-radius: 8px;
}
.left-box h3{
    max-width: 38rem;
    height: 76px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 116px;
    font-family: 'Manrope', sans-serif;
}
.left-box p{
    max-width: 32.688rem;
    min-height: 160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 80px;
    font-family: 'Manrope', sans-serif;
}
.add-button {
    color: white;
    background-color: #F84646;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}
.add-button:hover {
    background-color:  rgb(48, 167, 167);;
}
/* SECOND-BOX */
.bottom-box{
    display: flex;
    flex-direction: row;
    gap: 80px;    
    margin-top: 115px; 
    text-align: -webkit-right;
}
.right-box2{
    max-width: 38rem;
    min-height: 480px;

    border-radius: 8px;
}
.right-box2 h3{
    max-width: 38rem;
    height: 76px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 116px;
    font-family: 'Manrope', sans-serif;
}
.right-box2 p{
    max-width: 32.688rem;
    min-height: 160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 80px;
    font-family: 'Manrope', sans-serif;
}
/*FORM STYLES*/
.form-box{
    max-width: 76.25rem;
    min-height: 780px;
    margin: 0 auto;
    padding-top: 80px;
}
.form-texts{
    text-align: center;
    margin-bottom: 40px;
}
.form-texts h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
}
.form-texts h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48.4px;
    font-family: 'Manrope', sans-serif;
}
.input-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 38px;
}
.input-info  [type="text"],[type="email"],[type="tel"]:focus {
    outline: none;
}
.input-info [type="text"],[type="email"],[type="tel"] {
    width: 47%;
    height: 65px;
    border: none; 
    border-bottom: 2px solid red;
}
.textarea{
    width: 100%;
    height: 222px;
    margin-top: 28px;
    border: none;
    border-bottom: 2px solid red;
}
.textarea:focus {
    outline: none;
}
.form-button{
    background-color: #F84646;
    width: 184px;
    height: 65px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 46px;
    margin-left: 42%;
    font-family: 'Inter', sans-serif;
    color: white;
}
.form-button:hover {
    background-color:#6B77E5;
}
/* FOOTER*/
.footer{
    background-color: #F8464A;
    /* width: 1440px; */
    min-height: 536px;
    margin: 20px auto;
}
.footer-div{
    /* width: 1034px; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;

}
.little-box1{
    width: 182px;
    height: 304px;
    margin-right: 100px;
}
.little-box1 h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box1 p{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box2{
    width: 249px;
    height: 248px;
    margin-right: 100px;
}
.little-box2 h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box2 p{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box3{
    width: 152px;
    height: 192px;
    margin-right: 100px;
}
.little-box3 h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box3 p{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box4{
    width: 151px;
    height: 136px;
}
.little-box4 h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.little-box4 p{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}
.copyright{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 16px;
    margin-left: 78px;
    margin-top: 50px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
}